header {
    position: fixed;
    top: 1%;
    left: 2.5%;
    width: 95%;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

main {
    
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: .8rem;
}

.navLink {
    text-decoration: none;
    color: inherit;
}
.navLink + .navLink {
    margin-left: .5rem;
}
.navLink + .navLink::before {
    content: "•";
    margin-right: .5rem;
}

.navLinkActive {
    text-decoration: none;
    color: inherit;
    color: var(--color-5l-100);
}
.navLinkActive + .navLink {
    margin-left: .5rem;
}
.navLinkActive + .navLink::before {
    content: "•";
    margin-right: .5rem;
}
.navLink + .navLinkActive {
    margin-left: .5rem;
}
.navLink + .navLinkActive::before {
    content: "•";
    margin-right: .5rem;
}