.avatar {
    height: 50%;
    border: 3px solid var(--color-5l-50);
    border-radius: 50%;
}

h4 {
    margin-bottom: .5rem;
}

.subInfo {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.subInfo p {
    width: 48%;
    display: block;
    border: 3px solid var(--color-2l-100);
    border-radius: .5rem;
}
.subInfo p + p {
    border: 3px solid var(--color-4l-100);
}

.socialBar {
    margin-top: 1rem;
    display: flex;
}

.socialBar a {
    width: 2rem;
    height: 2rem;
    margin: auto;
    padding: 1.6px; 
    border-radius: .5rem;
    cursor: pointer;
}
.socialBar a + a {
    margin-left: .3rem;
}
.socialBar a:nth-child(odd) {
    border: 3px solid var(--color-2l-100);
}
.socialBar a:nth-child(even) {
    border: 3px solid var(--color-4l-100);
}

.socialBar a img {
    margin: auto;
    width: 1.5rem;
}