@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

#heroBanner {
    height: 65vh;
    background-color: var(--color-3l-100);
    position: relative;
}

#heroBanner #heroImgContainer {
    display: flex;
    height: 100%;
    width: 100%;
    animation: slideBanner 4s linear infinite;
}

/* @keyframes slideBanner {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
} */

#heroBanner #heroImgContainer #heroImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#heroBanner #heroText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#heroBanner #heroText h1 {
    font-family: 'Nabla', cursive;
    font-size: 2.5rem;
    text-shadow: #000 1px 0 10px;
}

#heroBanner #heroText h3 span {
    font-size: 1.3rem;
    font-style: italic;
    text-decoration: underline var(--color-5l-100) wavy;
}

#shortIntroSec {
    background-color: var(--color-3l-50);
}

#shortIntroSec #introContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#shortIntroSec #introContainer #leftContainer {
    width: 58%;
}

#shortIntroSec #introContainer #leftContainer #introDetail {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#shortIntroSec #introContainer #leftContainer #statisticNumber {
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: -20px;
}

#shortIntroSec #introContainer #leftContainer #statisticNumber div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 100px;
}

#shortIntroSec #introContainer #leftContainer #statisticNumber .counterNumber {
    font-size: 3rem;
    width: -moz-fit-content;
    width: fit-content;
    color: var(--color-5l-100);
    background-color: var(--color-3l-100);
    border: none;
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
}

#shortIntroSec #introContainer #rightContainer {
    width: 38%;
}

#featureMemberSec {
    background-color: var(--color-3l-100);
}

#featureMomentSec {
    background-color: var(--color-3l-50);
}

#registerInvitationSec {
    background-color: var(--color-3l-100);
}
