.modalBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    display: flex;
    background-color: rgba(0, 0, 0, .9);
    z-index: 3;
}

.modalBox .closeBtn {
    position: absolute;
    top: .5rem;
    right: .5rem;
}

.modalBox .modalSection {
    margin: auto;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}